@import '_normalize';


* {box-sizing: border-box;}

html {
    height: 100%;
    font-size: 10px;
   /*  overflow-y:hidden; */
}
 
body {
    font: 300 1.7rem/1.7 $text-font;
    min-height: 100%;
    // color: $text-color;            
}